body {
    font-size: 34px;
    margin: 0;
    font-family: 'Tajawal', sans-serif;
    /* font-family: 'Shrikhand', cursive; */
    /* font-family: 'Lobster', cursive; */
}

.wrapper {
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  margin: 70px 100px 45px;
  overflow: auto;
  background: #e9ebfa;
  border-radius: 2px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.6);
  background: #383c57;
}

.content {
    padding: 30px 40px;
    min-height: calc(100vh - 130px - 115px - 60px);
}
.content >* {
    color: #6b708d;
  /* text-shadow: 0px 1px 4px; */
}